# CNN a nivel de caracteres - Cuantificación de caracteres

In [101]:
import numpy as np
import pandas as pd

In [170]:
alphabet_string = "abcdefghijklmnopqrstuvwxyz0123456789-,;.!:/\|_@#$%ˆ&*˜‘+-=<>()[]{}"

In [87]:
def build_alphabet_dict(alphabet_string):
    d = {}
    pos = 0
    for char in alphabet_string:
        d[char] = pos
        pos += 1 
    d[' '] = pos
    d['unknown'] = pos + 1
    return d

In [177]:
def encoding(text, alphabet, length, pad=0):
    height = len(alphabet)+1
    matrix = np.zeros((height, length))
    col = length-1
    for char in text[:length]:
        if char in alphabet:
            if char != ' ':
                matrix[alphabet[char], col] = 1
        else:
            matrix[alphabet['unknown'], col] = 1
        col -= 1
    return matrix

In [189]:
alphabet = build_alphabet_dict(alphabet_string)
tweet = "hola hola"
mat = encoding(tweet, alphabet, length=11)

In [190]:
for c in list(set(tweet)):
    print(f"{c}: {alphabet[c]}")

h: 7
o: 14
l: 11
a: 0
 : 66

In [191]:
alphabet['unknown']

67

In [192]:
mat

array([[0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

## Aplicando a tweets

In [193]:
df = pd.read_csv('/Users/nestorivanmo/Desktop/clean_tweets.csv')
df.shape

(1600000, 3)

In [194]:
df.head()

   Unnamed: 0                                               text  target
0           0  awww that s a bummer you shoulda got david car...       0
1           1  is upset that he can t update his facebook by ...       0
2           2  i dived many times for the ball managed to sav...       0
3           3     my whole body feels itchy and like its on fire       0
4           4  no it s not behaving at all i m mad why am i h...       0

In [195]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 3 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1600000 non-null  int64
 1   text        1596753 non-null  object
 2   target      1600000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 36.6+ MB

In [196]:
df.dropna(inplace=True)

In [197]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1596753 entries, 0 to 1599999
Data columns (total 3 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1596753 non-null  int64
 1   text        1596753 non-null  object
 2   target      1596753 non-null  int64
dtypes: int64(2), object(1)
memory usage: 48.7+ MB

In [202]:
def generate_matrix(tweets_df, alphabet, max_len=10):
    mat = []
    for i, tweet in enumerate(tweets_df['text']):
        try: 
            mat.append(encoding(tweet, alphabet, max_len))
        except:
            print(tweet)
            break
    return np.array(mat)

In [ ]:
alphabet_string = "abcdefghijklmnopqrstuvwxyz0123456789-,;.!?:/\|_@#$%ˆ&*˜‘+-=<>()[]{}"
alphabet = build_alphabet_dict(alphabet_string)
mat = generate_matrix(df, alphabet, max_len=20)

In [ ]:
mat.shape