In [26]:
import numpy as np
import pandas as pd

In [3]:
corpus = "tres tristes tigres tragaban trigo en un trigal en tres tristes trastos. En tres tristes trastos tragaban trigo en un trigal tres tristes tigres."
corpus = corpus.split(' ')

tokens = []
for token in corpus:
    if '.' in token:
        tokens.append('.')
    for c in token.split('.'): 
        if c != '': tokens.append(c)

num_tokens = len(tokens)            
print(tokens, num_tokens)

['tres', 'tristes', 'tigres', 'tragaban', 'trigo', 'en', 'un', 'trigal', 'en', 'tres', 'tristes', '.', 'trastos', 'En', 'tres', 'tristes', 'trastos', 'tragaban', 'trigo', 'en', 'un', 'trigal', 'tres', 'tristes', '.', 'tigres'] 26

In [4]:
tres_count = 0
for token in tokens:
    if "tres" == token:
        tres_count +=1

print(tres_count/num_tokens)

0.15384615384615385

In [5]:
print(tres_count, num_tokens, tres_count/num_tokens)

4 26 0.15384615384615385

In [6]:
# UNQ_C11 (UNIQUE CELL IDENTIFIER, DO NOT EDIT)
# GRADED FUNCTION: min_edit_distance
def min_edit_distance(source, target, ins_cost = 1, del_cost = 1, rep_cost = 2):
    '''
    Input: 
        source: a string corresponding to the string you are starting with
        target: a string corresponding to the string you want to end with
        ins_cost: an integer setting the insert cost
        del_cost: an integer setting the delete cost
        rep_cost: an integer setting the replace cost
    Output:
        D: a matrix of len(source)+1 by len(target)+1 containing minimum edit distances
        med: the minimum edit distance (med) required to convert the source string to the target
    '''
    # use deletion and insert cost as  1
    m = len(source) 
    n = len(target) 
    #initialize cost matrix with zeros and dimensions (m+1,n+1) 
    D = np.zeros((m+1, n+1), dtype=int) 
    
    ### START CODE HERE (Replace instances of 'None' with your code) ###
    
    # Fill in column 0, from row 1 to row m, both inclusive
    for row in range(1, m+1): # Replace None with the proper range
        D[row,0] = row
        
    # Fill in row 0, for all columns from 1 to n, both inclusive
    for col in range(1, n+1): # Replace None with the proper range
        D[0,col] = col
    
    # Loop through row 1 to row m, both inclusive
    for row in range(1, m+1): 
        
        # Loop through column 1 to column n, both inclusive
        for col in range(1, n+1):
            
            # Intialize r_cost to the 'replace' cost that is passed into this function
            r_cost = rep_cost
            
            # Check to see if source character at the previous row
            # matches the target character at the previous column, 
            if source[row-1] == target[col-1]:
                # Update the replacement cost to 0 if source and target are the same
                r_cost = 0
                
            # Update the cost at row, col based on previous entries in the cost matrix
            # Refer to the equation calculate for D[i,j] (the minimum of three calculated costs)
            D[row,col] = min(D[row-1,col]+del_cost, D[row,col-1]+ins_cost,D[row-1,col-1]+r_cost)

          
    # Set the minimum edit distance with the cost found at row m, column n
    med = D[m,n]
    
    ### END CODE HERE ###
    return D, med

In [7]:
min_edit_distance("hervivoros", "carnivoro", 1, 1, 2)

(array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
        [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
        [ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 3,  4,  5,  4,  5,  6,  7,  8,  9, 10],
        [ 4,  5,  6,  5,  6,  7,  6,  7,  8,  9],
        [ 5,  6,  7,  6,  7,  6,  7,  8,  9, 10],
        [ 6,  7,  8,  7,  8,  7,  6,  7,  8,  9],
        [ 7,  8,  9,  8,  9,  8,  7,  6,  7,  8],
        [ 8,  9, 10,  9, 10,  9,  8,  7,  6,  7],
        [ 9, 10, 11, 10, 11, 10,  9,  8,  7,  6],
        [10, 11, 12, 11, 12, 11, 10,  9,  8,  7]]),
 7)

In [8]:
tokens

['tres',
 'tristes',
 'tigres',
 'tragaban',
 'trigo',
 'en',
 'un',
 'trigal',
 'en',
 'tres',
 'tristes',
 '.',
 'trastos',
 'En',
 'tres',
 'tristes',
 'trastos',
 'tragaban',
 'trigo',
 'en',
 'un',
 'trigal',
 'tres',
 'tristes',
 '.',
 'tigres']

$$P(\text{tigres}|\text{tres tristes}) = \frac{C(\text{tres tristes}\text{tigres})}{C(\text{tres tristes})}$$

In [14]:
trigrams = []
for i in range(2, len(tokens)):
    t = tokens[i-2] + " "  + tokens[i-1] + " " + tokens[i]
    trigrams.append(t)

tr_to_lookup = "tres tristes tigres"    
trigram_count = 0
for tr in trigrams:
    if tr == tr_to_lookup:
        trigram_count += 1
        
print(trigram_count, len(trigrams), trigram_count / len(trigrams))

1 24 0.041666666666666664

In [15]:
bigrams = []
for i in range(1, len(tokens)):
    t = tokens[i-1] + " " + tokens[i]
    bigrams.append(t)

br_to_lookup = "tres tristes"
bigram_count = 0
for tr in bigrams:
    if tr == br_to_lookup:
        bigram_count += 1
        
print(bigram_count, len(bigrams), bigram_count / len(bigrams))

4 25 0.16

In [17]:
1/4

0.25

In [22]:
0.1*0.3*0.1

0.003

In [30]:
def build_tokens(corpus):
    tokens = []
    corpus = corpus.split(' ')
    for token in corpus:
        if '.' in token:
            tokens.append('.')
        for c in token.split('.'): 
            if c != '': tokens.append(c)

    return tokens

tokens = build_tokens("<s> tres tristes tigres tragaban trigo en un trigal en tres tristes trastos </s> <s> en tres tristes vasos comían pasto en un pastizal tres tristes tigres </s>")
tokens

['<s>',
 'tres',
 'tristes',
 'tigres',
 'tragaban',
 'trigo',
 'en',
 'un',
 'trigal',
 'en',
 'tres',
 'tristes',
 'trastos',
 '</s>',
 '<s>',
 'en',
 'tres',
 'tristes',
 'vasos',
 'comían',
 'pasto',
 'en',
 'un',
 'pastizal',
 'tres',
 'tristes',
 'tigres',
 '</s>']

In [31]:
def count_token_freq(token, tokens):
    freq = 0
    for t in tokens:
        if t == token:
            freq += 1
    return freq

In [32]:
frequencies_dict = {}
for t in tokens:
    if t not in frequencies_dict:
        frequencies_dict[t] = 0
    frequencies_dict[t] = count_token_freq(t, tokens)

final_tokens = []
final_tokens_freqs = []
for key in list(frequencies_dict.keys()):
    if frequencies_dict[key] >= 2:
        final_tokens.append(key)
        final_tokens_freqs.append(frequencies_dict[key])

pd.DataFrame({'token': final_tokens, 'frequency': final_tokens_freqs})

     token  frequency
0      <s>          2
1     tres          4
2  tristes          4
3   tigres          2
4       en          4
5       un          2
6     </s>          2

In [33]:
N = 26
a = 0.001
(6+a) / (14 + a*N)

0.4278482817624412

In [34]:
(1+a)/(7+a*N)

0.14247082265869626

In [ ]:
W1 = np.arrat